# ----- Core Web & App -----
flask
Flask-SQLAlchemy
pymysql

# ----- Data Fetching & Analysis -----
pandas
pandas
numpy
pytz
requests
finance-datareader
pykrx
dart-fss
yfinance

# ----- AI & Machine Learning -----
google-generativeai
xgboost # 현재 미사용

# ----- Frontend & Utilities -----
libsass
python-dotenv
beautifulsoup4