# ----- Core Web & App -----
flask
Flask-SQLAlchemy
pymysql

# ----- Data Fetching & Analysis -----
pandas
numpy
pytz
requests
finance-datareader
pykrx
dart-fss
yfinance
selenium
readability-lxml

# ----- AI & Machine Learning -----
google-generativeai
xgboost
transformers
torch
sentencepiece
scikit-learn
datasets
evaluate

# ----- 자연어 처리 helper --
fuzzywuzzy
python-Levenshtein
flashtext

# ----- Frontend & Utilities -----
libsass
python-dotenv
beautifulsoup4