# ----- Core Web & App -----
flask
gunicorn
firebase-admin

# ----- Data Fetching & Analysis -----
pandas
numpy
pytz
requests
finance-datareader
pykrx
dart-fss
yfinance
selenium              # 아마안쓸듯
readability-lxml
lxml                  
html5lib             

# ----- AI & Machine Learning -----
google-generativeai
xgboost               
lightgbm           
scikit-learn       
transformers          
torch                 
sentencepiece         
datasets              
evaluate             
seaborn              
matplotlib           
Pillow                

# ----- 자연어 처리 helper --
fuzzywuzzy
python-Levenshtein    
flashtext

# ----- Frontend & Utilities -----
libsass               
python-dotenv
beautifulsoup4       